body {
    margin: 0;
    padding: 0;
    background-color: #1e1b2e;
    color: #f8f8f8;
    font-family: 'Georgia', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#gameContainer {
    text-align: center;
}

canvas {
    border: 3px solid #ff5e78;
    background-color: #113355;
}

#messageBox {
    margin-top: 10px;
    font-size: 1.2em;
    color: #ffeecc;
}
